<h1 class="title-box">Welcome to the Blog!</h1>
<div class="welcome-message">
  <p>Glad to have you here ٩(^ᴗ^)۶ !</p>
  <p>
    This project is a demo of how to create a
    <a href="https://jamstack.org">Jamstack</a> blog using Angular,
    <a href="http://scullyio.com/">Scully</a>, and
    <a
      href="https://www.netlify.com/?utm_source=demo&utm_medium=angular-jamstack-blog-tzm&utm_campaign=devex"
      >Netlify</a
    >. You can find the code in the
    <a href="https://github.com/tzmanics/angular-jamstack-blog"
      >project repo here</a
    >
    and learn about the process in
    <a
      href="https://www.netlify.app/blog/2020/07/08/creating-an-angular-jamstack-blog/?utm_source=blog&utm_medium=angular-jamstack-blog-tzm&utm_campaign=devex"
      >this blog post</a
    >.
  </p>
</div>
